{% extends 'base.html.twig' %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="starter-template">
            <div class="page-header">
                <h1>Create New Course</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>

            <div class="row">
                {{ form_start(form, { 'attr' : { 'class': 'form-create' } }) }}
                {% for child in form.children|keys %}
                    <p>
                        {% if 'token' not in form_label(attribute(form.children,child)) %}
                            {{ form_label(attribute(form.children,child)) }}
                        {% endif %}
                        {{ form_widget(attribute(form.children,child)) }}
                    </p>
                {% endfor %}
                {{ form_end(form) }}
            </div>

            <link rel="stylesheet" href="http://internalcourses.devcom.com/assets/css/viewLecture.css">
            <link rel="stylesheet" href="http://internalcourses.devcom.com/assets/bootstrap/css/bootstrap-datepicker.css">
            <script src="http://internalcourses.devcom.com/assets/bootstrap/js/bootstrap-datepicker.js"></script>
            <script type="text/javascript" src="http://internalcourses.devcom.com/assets/js/createEnrollment.js"></script>
            <script type="text/javascript" src="http://internalcourses.devcom.com/assets/js/enrollment.js"></script>  </div>
    </div>
{% endblock %}
