{% extends 'base.html.twig' %}

{% block body %}
    <div class="container theme-showcase" role="main">
        <div class="starter-template">
            <div class="page-header">
                <h1 class="text-center">Welcome to DevCom Courses!</h1>
            </div>
            <div class="text-center">
                <p class="welcome_p">
                    This is a demo website of our online courses platform.
                </p>
                <p class="welcome_p">
                    Here you can register as a teacher or a student. By registering as a teacher you can create courses
                    with
                    your own materials and tests, also you can subscribe to the courses of others. By registering as a
                    student you can subscribe to courses, study the materials and pass the courses tests.
                </p>
            </div>
            <!--<div class="text-center text-success">-->
            <!--  <p>Great course content library. Easy course creation. A new way to learn at work.</p>-->
            <!--  <p>Page rendered in <strong>0.0098</strong> seconds</p>-->
            <!--</div>-->  </div>
    </div>
{% endblock %}
