{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="/css/createTest.css">

    <div class="container theme-showcase" role="main">
        <div class="starter-template">



            <div class="page-header">
                <h1></h1>
            </div>

            <div class="row">
                <div id="message" class="col-lg-12">
                </div>
            </div>

            <div id="app"></div>
            <script type="text/javascript" src="/js/manifest.js"></script>
            <script type="text/javascript" src="/js/vendor.js"></script>
            <script type="text/javascript" src="/js/createTest.js"></script>
            <script type="text/javascript" src="/js/scripts.js"></script>

        </div>
    </div>
{% endblock %}
