{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="/css/passTest.css">
    <link rel="stylesheet" type="text/css" href="/css/starter-template.css">
    <link rel="stylesheet" type="text/css" href="/css/viewTest.css">
    <div id="app"></div>
    <script src="/js/passTest.js"></script>
    <script src="/js/passTestVendors.js"></script>
{% endblock %}

{% block javascripts %}
    <script>
        window.onbeforeunload = function(e) {
            var dialogText = 'Dialog text here';
            e.returnValue = dialogText;
            return dialogText;
        };
    </script>
{% endblock %}

