{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="/css/passTest.css">
    <link rel="stylesheet" type="text/css" href="/css/starter-template.css">
    <link rel="stylesheet" type="text/css" href="/css/viewTest.css">

    {% if canPass %}
        <div id="app"></div>
        <script src="/js/passTest.js"></script>
        <script src="/js/passTestVendors.js"></script>
    {% else %}
       <div class="container theme-showcase">
           <div class="starter-template">

               <div class="page-header row">
                   <div class="col-lg-10">

                       <h1 class="col-sm-4" style="text-transform: uppercase;">{{ test.title }}</h1>

                   </div>
                   <div class="col-2">

                       <a href="/courses/my" class="btn btn-success h1"> Back to courses</a>

                   </div>
               </div>

               <div class="container" style="text-align: center">
                   <h3>
                       You can retake the test after {{ test.retakeTimeout }} days if you'd like.
                   </h3>
               </div>

           </div>
       </div>
    {% endif %}

{% endblock %}

{% block javascripts %}

{% endblock %}

